body {
    background-color: #ccc;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.widget {
    margin: 0 auto;
    width:700px;
    margin-top:50px;
    background-color:#fff;
    -background-color: #222D3A;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);

}

.header{
    background-color: #eee;
    height:65px;
    color:#555;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 1px 1px #fff;
    border-bottom: 1px solid #eaeaea;
}

.chart-container{
    padding:25px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.y-grid .tick{
    stroke-dasharray: 5;
    stroke: lightgrey;
    opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    opacity: .3;
}

.line1 {
    fill: none;
    stroke: green;
    stroke-width: 1.5px;
    opacity: .6;
}

.line2 {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
    opacity: .6;
}

.line3 {
    fill: none;
    stroke: blue;
    stroke-width: 1.5px;
    opacity: .6;
}

.line10 {
    fill: none;
    stroke: #37d643;
    stroke-width: 1px;
    opacity: 0;
}

.line20 {
    fill: none;
    stroke: #fba39a;
    stroke-width: 1px;
    opacity: 0;
}

.line30 {
    fill: none;
    stroke: #779fff;
    stroke-width: 1px;
    opacity: 0;
}

.dot1 {

    fill: green;
    cursor: pointer;
}


.dot2 {

    fill: red;
    cursor: pointer;

}

.dot3 {

    fill: blue;
    cursor: pointer;

}

div.line1_tt {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 38px;
    padding: 5px;
    font: 12px sans-serif;
    background: #abd6b6;
    border: 0px;
    pointer-events: none;
    border-radius: 2px;
    color:#000000;
}

div.line2_tt {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 38px;
    padding: 5px;
    font: 12px sans-serif;
    background: #fbc4ba;
    border: 0px;
    pointer-events: none;
    border-radius: 2px;
    color:#000000;
}
div.line3_tt {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 38px;
    padding: 5px;
    font: 12px sans-serif;
    background: #b2c3ff;
    border: 0px;
    pointer-events: none;
    border-radius: 2px;
    color:#000000;
}


